*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM VARIABLES */

:root{
    --grid-rows: 1;
    --grid-cols: 1;
}

html,body{
    background: #ededed;
    min-height: 100vh;

    justify-content: center;
    align-items: center;

}

/* TITLE */

h1{
    display: block;
    font-size: 80px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* MAIN CONTAINER */

.main{
    display: flex;
    justify-content: center;
}

/* GRID */

.container{
    display: grid;
    width: 600px;
    height: 600px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
    cursor: pointer;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}
